table {
    table-layout: fixed
}

.image_container img {
    height: 70%;
    width: 70%;
}

.actionButton {
    width: 30px
}

.narrow {
    width: 50px;
}

.tableHeader {
    background-color: aqua; 
    text-align: center;
    font-family: 'Gill Sans';
    font-size: large;
}

.table td {
    text-align: center;
    vertical-align: middle;
}

.narrow {
    width: 30px
}

.cell {
    font-size: 20px
}

.table_row {
    text-align: left;
}
