table {
    background-color: white;
    width: 100%;
    padding-left: 4px;
    padding-right: 4px;
    min-width: 300px;
}

.imageContainer {
    height: 2vw;
    width: 2vh;
    display: flex;
    align-content: center;
    justify-content: center;
}
.image_container img {
    height: 70%;
    width: 70%;
}

.narrow {
    width: 30px;
}

.tableHeader {
    background-color: aqua; 
    text-align: center;
    font-family: 'Gill Sans';
    font-size: large;
}

.cell {
    font-size: 20px
}

.table_row {
    text-align: left;
}
