.container {
    background-color: black;
    width: 100vw;
    height: 70px;
    position: absolute;
    bottom: 0;
}

.container text {
    font-family: 'Gill Sans';   
    margin-bottom: 10vh;
}

.text {
    text-align: left;
    font-family: 'Gill Sans';
    color: white;
    margin-left: 2%;
}